.Content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  background-color: #f8f9fa;
  max-width: 100%;
}
.Cards {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 100%;
  /* gap: 20px; */
  justify-content: flex-start;
  /* justify-content: center; */
  margin: auto;
  max-width: fit-content;
  box-sizing: border-box;
}
